/* page top */

.tituloFaq {
    background-color: blueviolet;
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 25px;
    border-top: 5px dotted #fff;
    border-bottom: 5px dotted #fff;
}

.tituloFaq p {
    text-align: center;
    margin-top: 5px;
}


/* perguntas e respostas */

.containerFaq {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 25% 10px;
    background-color: #FAF7FA;
    }

details {
    margin: 0 0 40px 0;
    padding: 0 15px;
    border-radius: 20px;
}

summary {
    font-family: nerkoOne;
	text-transform: uppercase;
	font-size: 2.1em;
	color: blueviolet;
    list-style-type: circle;
}

details[open] summary {
    list-style-type: disc;
}

details:hover {
    background-color: rgba(138, 43, 226, 0.1);
    transition-duration: 0.4s;
}

details p {
    font-size: 1.2em;
    color: blueviolet;
    padding-bottom: 15px;
}

.indicacao {
    display: block;
    box-sizing: border-box;
    background-color: blueviolet;
    padding: 30px 0 30px;
    border-top: 5px dotted #fff;
    border-bottom: 5px dotted #fff;
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}