/* fontes */

@font-face {
	font-family: nerkoOne;
	src: url(fonts/NerkoOne-Regular.ttf);
}

@font-face {
	font-family: openSans;
	src: url(fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: openSans;
	src: url(fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}


/* geral da página */

* {
	margin: 0;
	padding: 0;
	font-family: openSans, sans-serif;
}

h1 {
	font-family: nerkoOne;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.1em;
	color: #fff;
	padding: 60px 0 5px;
}

a {
	text-decoration: none;
}


/* menu de navegação */

header {
	position: sticky;
	top: 0;
}

nav ul {
	background-color: blueviolet;
	width: 100%;
}

nav li {
	display: inline-block;
	vertical-align: middle;
	font-family: nerkoOne;
	font-size: 1.5em;
	text-transform: uppercase;
}

nav li img {
	width: 40px;
	height: 40px;
	padding-left: 10px;
}

.navText {
	color: #fff;
	margin: 0;
	padding: 8px 30px 8px 10px;
	margin-right: 40px;
}

nav a {
	display: block;
	font-family: inherit;
	color: #fff;
	text-align: center;
	padding: 16px 30px;
	transition-duration: 0.4s;	
}

nav a:hover {
	background-color: #fff;
	color: blueviolet;
}


/* banner (futuro slider) */

.banner img {
	width: 100%;
	height: auto;
}


/* apresentação */

.quemSomos {
	padding-bottom: 70px;
	background-color: #FAF7FA;
}

.apresentacao {
	display: block;
	margin: auto 20%;
	text-align: justify;
	text-indent: 40px;
	font-size: 1.2em;
	color: blueviolet;
}

.apresentacao img {
	display: inherit;
	width: 200px;
	height: 200px;
	margin: 0 auto 20px;
	padding-top: 60px;
}


/* categorias */

.categorias {
	background-color: blueviolet;
	width: 100%;
	font-size: 1.1em;
	text-align: center;
	color: #fff;
}

.categ {
	display: inline-block;
	padding: 25px 25px 70px;
	text-align: center;
}

.categ img {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 2px dotted blueviolet;
}

.categ img:hover {
	border-radius: 40px;
	border: 2px dotted #fff;
}

.categ a {
	color: #fff;
	font-weight: bold;
	line-height: 2;
}

.categ a:hover {
	text-decoration: underline;
}


/* contato */

.contato {
	display: block;
	text-align: center;
	color: blueviolet;
	padding-bottom: 70px;
	background-color: #FAF7FA;
}

.contato a {
	color: blueviolet;
}

.contLogo {
	font-family: nerkoOne;
	text-transform: uppercase;
	line-height: 1.7;
	font-size: 1.3em;
	margin-bottom: 20px;
}

.contLogo img {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	padding-top: 50px;
}

.contLinks {
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.contLinks a:hover {
	text-decoration: underline;
}

.linksExt {
	display: inline-block;
	margin: 0;
	padding: 5 10px;
	font-size: 1.2em;
	text-align: center;
}

.linksExt img {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 40px;
	border: 2px dotted #fff;
}

.linksExt img:hover {
	border-radius: 40px;
	border: 2px dotted blueviolet;
}


/* newsletter */

.formulario {
	display: block;
	margin-top: 30px;
	font-weight: bold;
}

.formulario p {
	margin-bottom: 10px;
	font-size: 1.1em;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.formulario p:hover {
	text-shadow: 0 0 5px blueviolet;
}

.newsletter {
	margin: 5px auto;
}

input {
	border: 1px solid blueviolet;
	box-shadow: 0 0 1px blueviolet;
}

input:hover {
	box-shadow: 0 0 5px blueviolet;
}

.botao input {
	margin-top: 5px;
	background-color: blueviolet;
	font-family: nerkoOne;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #fff;
	width: 200px;
	height: 30px;
}


/* faixa de texto antes dos contatos nas outras páginas */

.indicacao {
    display: block;
    box-sizing: border-box;
    background-color: blueviolet;
    padding: 30px 0 30px;
    border-top: 5px dotted #fff;
    border-bottom: 5px dotted #fff;
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}


/* rodapé */

.rodape {
	display: block;
	background-color: blueviolet;
	height: auto;
	color: #fff;
	text-align: center;
}

footer p {
	font-family: nerkoOne;
	font-size: 1.3em;
	line-height: 1.5;
	padding: 25px 0;
}